body {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background: #000000 url("../img/index-bg.jpg") top center no-repeat;
}

a {
  text-decoration: none;
}

.main-nav {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
}

.site-nav,
.user-nav {
  list-style: none;
}

.site-nav a,
.user-nav a {
  color: #ffffff;
}

.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus {
  background-color: #242424;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-columns {
  color: #000000;
  background: #f8f5f2 url("../img/bg.jpg") 0 0 repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}
